BOT_TOKEN=your_bot_token_here
ADMIN_IDS=1041434250,8485710780,1929508992
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key
PRIVATE_CHANNEL=-100xxxxxxxxx
REQUIRED_CHANNEL=@your_channel
PUBLIC_CHANNEL=-100xxxxxxxxx
PORT=8000
